
<%= stylesheet_link_tag "index" %>
<%= javascript_include_tag "index" %>

<div class="three">
  <blockquote id="title">Passion + Organization + Time</blockquote>
  <p>
    Whatever your age, you have assets. Whether that's passion or experience, network connections or some time on your hands, at the Generations Project, we believe that civic engagement should be a joyful, accessible part of democracy. </p>

    <p>To do this, the Generations Project connects people across age groups to create opportunities for everyone to take an active part in civic life. We seek to connect passion and energy with expertise and networks; digital natives with committee member know-how.
  </p>
  <iframe src="https://player.vimeo.com/video/294493360?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <h2 id="title">You have all the tools you need.</h2>
  <blockquote id="title">use them.</blockquote>
  <p>
    If each stage in life has its ups, it also has its downs: if you have tons of network connections, that probably means you're mid-career, and you have so little time. If you're staring down the barrel of retirement, maybe you feel a bit out-of-the-loop. And when you're young, having some direction or a mentor to go to can make a huge difference in your career and life track. </p>

    <p>Sign up and take the quiz below to see where you fit in, and we'll send you updates on how you might engage in your local community, or use your skills to support others.
  </p>

  <h2>
    Take the quiz!
    <i class="far fa-arrow-alt-circle-down"></i>
  </h2>

  <form id="quiz-container" name="Generations Quiz" netlify>
    <input id="anonymous-result" name="result" hidden />
    <input id="anonymous-id" name="id" hidden />
    <ul class="questions">
      <% questions.each do |question| %>
        <li>
          <div class="name"><h3><%= question.name %></h3></div>
          <ul class="answers">
            <% question.options.each do |option| %>
              <li>
                <label>
                  <input  type="radio" name="<%= question.key %>" value="<%= option.value %>" />
                  <%= option.name %>
                </label>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

    <div id="quiz-submit"><button type="submit">Submit</button></div>
  </form>

<form name="Contact Info" netlify id="result-container" class="hide">
  <div>
    <p>You got <span id="result"></span>!</p>
    <img id="result-image" src="https://via.placeholder.com/100" />
  </div>
  <div>
    <p id="result-description"></p>
    <div class="input-container">
      <p>
        Let's Keep in Touch!
        <input required id="contact-info" name="contact-info" placeholder="email or instagram handle"title="must be an email or an instagram handle(must include '@' in the beginning)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$|@([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\\.(?!\\.))){0,28}(?:[A-Za-z0-9_]))?)" />
        <input id="quiz-result" name="result" hidden />
        <input id="quiz-id" name="id" hidden />
        <button type="submit"><i id="submit-contact-info" class="fa fa-paper-plane"></i></button>
      </p>
    </div>
  </div>
</form>
