
<%= stylesheet_link_tag "index" %>
<%= javascript_include_tag "index" %>

<div class="three">
  <blockquote id="title">what is it?</blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Arcu cursus vitae congue mauris rhoncus aenean. Et tortor consequat id porta nibh venenatis cras. Nulla pellentesque dignissim enim sit amet venenatis. Tristique senectus
  </p>
  <iframe src="https://player.vimeo.com/video/294493360?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <h2 id="title">You have all the tools you need.</h2>
  <blockquote id="title">use them.</blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor neque vitae
  </p>

  <h2>
    Take the quiz!
    <i class="far fa-arrow-alt-circle-down"></i>
  </h2>

  <form id="quiz-container" name="Generations Quiz" netlify>
    <input id="anonymous-result" name="result" hidden />
    <input id="anonymous-id" name="id" hidden />
    <ul class="questions">
      <% questions.each do |question| %>
        <li>
          <div class="name"><h3><%= question.name %></h3></div>
          <ul class="answers">
            <% question.options.each do |option| %>
              <li>
                <label>
                  <input required type="radio" name="<%= question.key %>" value="<%= option.value %>" />
                  <%= option.name %>
                </label>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

    <div id="quiz-submit"><button type="submit">Submit</button></div>
  </form>

<form name="Contact Info" netlify id="result-container" class="hide">
  <div>
    <p>You got <span id="result"></span>!</p>
    <img src="https://via.placeholder.com/100" />
  </div>
  <div>
    <p id="result-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper viverra nam libero justo laoreet sit amet cursus sit. Dui accumsan sit amet nulla facilisi.</p>
    <div class="input-container">
      <p>
        Let's Keep in Touch!
        <input required id="contact-info" name="contact-info" placeholder="email or instagram handle"title="must be an email or an instagram handle(must include '@' in the beginning)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$|@([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\\.(?!\\.))){0,28}(?:[A-Za-z0-9_]))?)" />
        <input id="quiz-result" name="result" hidden />
        <input id="quiz-id" name="id" hidden />
        <button type="submit"><i id="submit-contact-info" class="fa fa-paper-plane"></i></button>
      </p>
    </div>
  </div>
</form>
